<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PollingTimeoutSeconds" value="900" />
    <!-- use parameters below to send notification e-mail -->
    <add key="MailFrom" value="change-ip@example.com" />
    <add key="MailTo" value="user@example.com" />
    <add key="Subject" value="IP changed" />
    <add key="SmtpHost" value="mail.example.com" />
    <add key="SmtpPort" value="25" />
    <!-- Authentication values for email sending -->
    <add key="SmtpUserName" value="change-ip@example.com" />
    <add key="SmtpPassword" value="*********" />
    <!-- true or false. true if the SMTP server requires SSL conenction (SMTPS on port 465 or Google on 587).  -->
    <add key="SmtpUseSsl" value="false" />
    <add key="IPChecker" value="https://www.cloudflare.com/cdn-cgi/trace" />
    <add key="IPCheckerRegExp" value="\b(?:[0-9]{1,3}\.){3}[0-9]{1,3}\b" />
    <!-- or specify command to be executed -->
    <!--
    <add key="Command" value="echo &quot;IP changed from ${old} to ${new}&quot; &gt; c:\temp\change.txt" />
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>