<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PollingTimeoutSeconds" value="900"/>

    <!-- use parameters below to send notification e-mail -->
    <add key="MailFrom" value="change-ip@example.com"/>
    <add key="MailTo" value="user@example.com"/>
    <add key="Subject" value="IP changed"/>
    <add key="SmtpHost" value="mail.example.com"/>
    
    <!-- or specify command to be executed -->
    <!--
    <add key="Command" value="echo &quot;IP changed from ${old} to ${new}&quot; &gt; c:\temp\change.txt" />
    -->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
