<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PollingTimeoutSeconds" value="900"/>
    
    <!-- Notification e-mail format -->
    <add key="MailFrom" value="change-ip@gmail.com"/>
    <add key="MailTo" value="user@example.com"/>
    <add key="Subject" value="IP changed"/>

    <!-- SMTP Server information -->
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    
    <!-- Authentication values for the SMTP serveremail sending; leave user name empty for anonymous access -->
    <!-- Note: for GMail make sure to enable 'access from less secure apps' for the sender's GMail account -->
    <add key="SmtpUserName" value="change-ip@gmail.com"/>
    <add key="SmtpPassword" value="*********"/>
    
    <!-- Set SmtpUseSsl to true if the SMTP server requires SSL (port 465) or TLS (port 587)  -->
    <add key="SmtpUseSsl" value="true"/>
    
    <!-- URL of the service to read the IP from -->
    <add key="IpCheckerUrl" value="https://www.cloudflare.com/cdn-cgi/trace"/>
    
    <!-- Regular expression that helps find our IP address in the HTTP response. 
         The part that contains actual IP address must be in a capture group named 'ip' -->
    <add key="IpCheckerRegEx" value="ip=(?'ip'([0-9]{1,3}\.){3}[0-9]{1,3})"/>
    
    <!-- maximum number of characters to read from the HTTP response -->
    <add key="MaxHttpResponseLength" value="10240" />
    
    <!-- Or specify command to be executed instead of sending e-mail -->
    <!--
    <add key="Command" value="echo &quot;IP changed from ${old} to ${new}&quot; &gt; c:\temp\change.txt" />
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
